body {
    font-family:'Roboto Condensed',sans-serif;
    background-color:white;
}
menu {
    list-style-type:none;
}

.left {
    float:left;
}
.right {
    float:right;
}

.fullpage-navbar {
    position:absolute;
    box-sizing:border-box;
    width:100%;
    background-color:white;
    border:1px solid grey;
}
#top-header {
    top:0px;
    box-sizing:border-box;
    height:50px;
    line-height:50px;
}
#bottom-header {
  bottom:0px;
  height:25px;
  line-height:25px;
}
#content {
    padding-top:50px;
    text-align:center;
    margin:auto;
}
.header-content {
    margin:auto;
}
@media(max-width:700px) {
    .header-content {
        width:100%;
    }
    #content {
        width:100%;
    }
}
@media(min-width:700px) {
    .header-content {
        width:700px;
    }
    #content {
        width:700px;
    }
}
@media(min-width:1300px) {
    .header-content {
        width:1000px;
    }
    #content {
        width:1000px;
    }
}

.header-content .left {
  margin-right:5px;
}
.header-content .right {
  margin-left:5px;
}

h1 {
    font-size: 72px;
    margin:10px 0px 10px 0px;
}
h2 {
    font-size: 28px;
    margin:10px 0px 10px 0px;
}

p {
    margin:5px 0px 50px 0px;
}

th {
    font-size:18pt;
    background-color: grey;
}
th, td {
    padding:3pt;
}
th.default-sort {
    cursor: pointer;
}
th.default-sort:after {
    content: "   \2195";
}
th.sorted.ascending:after {
    content: "   \2193";
}
th.sorted.descending:after {
    content: "   \2191";
}
table {
    margin:auto;
}
table, th, td {
    border: 1px solid black;
}
button {
    margin: 10px;
}

#add-link-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.75);
    justify-content: center;
    align-items: center;
}

#add-link-overlay-content {
    background-color: white;
    border-radius: 3px;
}
#add-link-overlay-content p {
    margin: 5px;
}