<!DOCTYPE html>
<head>
    {>head}
</head>
<body>
    {>header}
    
    <div id="content">
    <h1>{user}'s Links</h1>
    {if rows.length}
    <button class="open-popup">Add Link</button>
    <table id="links">
        <tr><th>Destination</th><th>Shortened Link</th></tr>
        {for row in rows}
        <tr>
            <td><a rel="nofollow" href="{row.url}">{row.url}</a></td>
            <td><a href="http://placeholder.com/{row.shortened}">http://placeholder.com/{row.shortened}</a></td>
        </tr>
        {/for}
    </table>
    <button class="open-popup">Add Link</button>
    {else}
    <p>We didn't find any links for you. Add one now!</p>
    <button class="open-popup">Add Link</button>
    {/if}
    
    <div id="add-link-overlay" style="display: none">
        <button id="close-overlay">X</button>
        <input id="url" type="url" autocomplete="url">
        <button id="add-link">Add</button>
    </div>

    {>footer}

    <script>
        var openPopup = function() {
            document.getElementById("add-link-overlay").style.display = "block";
        };

        var closePopup = function() {
            document.getElementById("add-link-overlay").style.display = "none";
        };

        ResponseCodes = {
            SUCCESS: 0,
            BAD_URL: 1
        };
        var processPostedLink = function(responseText) {
            var response = JSON.parse(responseText);
            var table = document.getElementById("links");
            var row = table.insertRow(-1);
            var urlCell = row.insertCell(-1);
            var shortenedCell = row.insertCell(-1);

            if (typeof response.code === "undefined" || response.code === ResponseCodes.BAD_URL) {
                urlCell.innerHTML = 'Error';
                shortenedCell.innerHTML = 'Bad URL provided.';
            }
            else if (response.code === ResponseCodes.SUCCESS) {
                var urlLink = document.createElement('a');
                urlLink.href = response.url;
                urlLink.innerHTML = response.url;
                urlCell.appendChild(urlLink);

                var shortenedLink = document.createElement('a');
                shortenedLink.href = 'http://placeholder.com/' + response.shortened;
                shortenedLink.innerHTML = 'http://placeholder.com/' + response.shortened;
                shortenedCell.appendChild(shortenedLink);
            }
            closePopup();
        };

        var postLink = function(url) {
            var request = new XMLHttpRequest();
            var url = document.getElementById("url").value;

            request.open("POST", "/create-link", true);
            request.onreadystatechange = function() {
                if (request.readyState === XMLHttpRequest.DONE && request.status === 200) {
                    processPostedLink(request.responseText);
                }
            }
            request.setRequestHeader("Content-type", "application/json");
            request.send(JSON.stringify({ url: url }));
        };

        var overlayOpeners = document.getElementsByClassName("open-popup");
        Array.prototype.forEach.call(overlayOpeners, function(current) {
            current.addEventListener("click", openPopup);
        });
        document.getElementById("close-overlay").addEventListener("click", closePopup);
        document.getElementById("add-link").addEventListener("click", postLink);
    </script>
</body>
